html{
  box-sizing: border-box;

}
.columns{
  height:100%;
  padding: 0 !important;
}

.subject button{
  margin:.8rem .8rem .8rem 0;
}
.subject{
  display: flex;
  justify-content: center;
}

.form-section{
padding-right:2rem !important;
background: rgb(209, 230, 250);
}

hr{
  border: .1rem solid darkgray !important;
  margin: 1rem 0 0 0 !important;
}