html{
  box-sizing: border-box;
  height:100vh;
}
.columns{
  height:100%;
  padding: 0 !important;
}

.subject button{
  margin:1.3rem .8rem .8rem 0;
}

.form-section{
padding-right:2rem !important;
}

body{
  /* background: lightgray; */
}